.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;

}

.header {
    grid-column: 1/5;
    height: 100px;
    background-color: #C0C0C0;
    }
    
    .sidebar {
    grid-column: 1/5;
    height: 100px;
    color: white;
    background-color: #484848;
  }
    .content {
    grid-column: 1/5;    
    height: 100px;
    background-color: #707070;
  }
    .sidebar2 {
    grid-column: 1/5;
    height: 100px;
    background-color: #A0A0A0;
  }
    .footer {
    grid-column: 1/5;
    height: 100px;
    background-color: #C0C0C0;
  }


  @media only screen and (min-width: 1000px) {

  .sidebar{
      grid-column: 1/2;
      grid-row: 2/4;
  }
  .content{
      grid-column: 2/5;
  }
}

@media only screen and (min-width: 1200px) {
    .sidebar{
        grid-column: 1/2;
        grid-row: 2/4;
}
.content{
    grid-column: 2/4;
    grid-row: 2/4
}
.sidebar2{
    grid-column: 4/5;
}
}